version: "3.5"

services:
  trovi:
    container_name: trovi_web
    image: trovi-dev
    restart: on-failure
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:${TROVI_PORT}/artifacts/?limit=1"]
      timeout: 60s
      retries: 3
    env_file:
      - .env
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    volumes:
      - .:/project
      - ./media:/media
      - static:/static
    ports:
      - "8808:8808"
    entrypoint: ["python3", "manage.py"]
    command: ["runserver", "0.0.0.0:8808"]
    depends_on:
      - db
      - redis
      - celery

  redis:
    container_name: trovi_redis
    image: "redis:alpine"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      timeout: 3s
      retries: 30
    ports:
      - "127.0.0.1:6379:6379"

  celery:
    container_name: trovi_celery
    image: trovi-dev
    entrypoint: ["celery"]
    command: ["-A", "trovi", "worker", "-l", "info"]
    volumes:
      - .:/project
    depends_on:
      - db
      - redis
    env_file:
      - .env
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0


  db:
    container_name: trovi_db
    image: mariadb:${DB_IMG_TAG}
    restart: on-failure
    healthcheck:
      test: ["CMD", "mariadb", "-u", "ccuser", "-pccpass", "trovi", "-eselect 1"]
      timeout: 10s
      retries: 10
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
     - ./db:/docker-entrypoint-initdb.d

volumes:
  static:
